html,
body {
    width: 100%;
    height: 100%;
    font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
}

#success_message {
    display: none;
}

a {
    color: black;
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    transition: all .35s;
}

a:hover,
a:focus {
    text-decoration: none;
}

p {
    font-size: 16px;
    line-height: 1.5;
}

header {
    position: relative;
    width: 100%;
    min-height: auto;
    text-align: center;
    color: #fff;
    background-image: url('../images/header.jpg');
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

header .header-content {
    position: relative;
    width: 100%;
    padding: 100px 15px 70px;
    text-align: center;
}

header .header-content .header-content-inner h1 {
    margin-top: 0;
    margin-bottom: 20px;
    font-size: 50px;
    font-weight: 300;
}

header .header-content .header-content-inner p {
    margin-bottom: 50px;
    font-size: 16px;
    font-weight: 300;
    color: rgba(255, 255, 255, .7);
}

@media (min-width: 768px) {
    header {
        min-height: 100%;
    }

    header .header-content {
        position: absolute;
        top: 50%;
        padding: 0 50px;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
    }

    header .header-content .header-content-inner {
        margin-right: auto;
        margin-left: auto;
        max-width: 1000px;
    }

    header .header-content .header-content-inner h1 {
        margin-top: -95px;
        font-size: 100px;
        color: #202032;
    }

    header .header-content .header-content-inner p {
        margin-right: auto;
        margin-left: auto;
        max-width: 80%;
        font-size: 18px;
        color: #202032;
    }
}

.section-heading {
    margin-top: 0;
    margin-bottom: 20px;
}

.intro {
    color: #fff;
    background-color: #5f7385;
    padding: 70px 0;
    text-align: center;
}

.content {
    padding: 100px 0;
}

.content-2 {
    color: #fff;
    background-color: #5f7385;
}

.content-22 {
    color: #fff;
    background-color: #222;
}

.testForm {
    padding: 40px 0;
    background-color: #d0d0d0;
    list-style-type: none;
    margin-top: initial;
}

.testForm #testTitle {
    text-align: center;
    font-weight: bold;
}

.promo,
.promo h3,
.promo a:link,
.promo a:visited,
.promo a:hover,
.promo a:active {
    color: white;
    text-shadow: 0px 0px 40px black;
    text-decoration: none;
}

.promo-item {
    height: 200px;
    line-height: 180px;
    text-align: center;
}

.promo-item:hover {
    background-size: 110%;
    border: 10px solid rgba(255, 255, 255, 0.3);
    line-height: 160px;
}

.promo-item h3 {
    font-size: 40px;
    display: inline-block;
    vertical-align: middle;
}

.item-1 {
    background: url('../images/writing.jpg');
}

.item-2 {
    background: url('../images/concert.jpg');
}

.item-3 {
    background: url('../images/pencil_sharpener.jpg');
}

.item-1,
.item-2,
.item-3 {
    background-size: cover;
    background-position: 50% 50%;
}

.page-footer {
    text-align: center;
}

.page-footer .contact {
    padding: 7px;
    background-color: #5f7385;
    color: #fff;
}

.page-footer .contact p {
    font-size: 22px;
    font-weight: 300;
}

.content-3 .glyphicon,
.page-footer .contact .glyphicon {
    font-size: 32px;
    font-weight: 700;
}

.page-footer .small-print {
    padding: 50px 0 40px;
    font-weight: 300;
}

.text-light {
    color: rgba(255, 255, 255, .7);
}

.navbar-brand {
    font-weight: bold;
}

.navbar-default {
    border-color: rgba(34, 34, 34, .05);
    background-color: #fff;
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    transition: all .35s;
}

.navbar-default .navbar-header .navbar-brand {
    color: #202032;
}

.navbar-default .navbar-header .navbar-brand:hover,
.navbar-default .navbar-header .navbar-brand:focus {
    color: #eb3812;
}

.navbar-default .nav > li > a,
.navbar-default .nav > li > a:focus {
    color: #222;
}

.navbar-default .nav > li > a:hover,
.navbar-default .nav > li > a:focus:hover {
    color: white;
}

.navbar-default .nav > li.active > a,
.navbar-default .nav > li.active > a:focus {
    font-weight: bold;
    color: #eb3812 !important;
    background-color: transparent;
}

.navbar-default .nav .dropdown-menu > li.active > a,
.navbar-default .nav .dropdown-menu > li.active > a:focus {
    font-weight: bold;
    color: #000000 !important;
    background-color: transparent;
}

.navbar-default .nav > li.active > a:hover,
.navbar-default .nav > li.active > a:focus:hover {
    background-color: transparent;
}

@media (min-width: 768px) {
    .navbar-default {
        border-color: #202032;
        background-color: #202032;
    }

    .navbar-default .navbar-header .navbar-brand {
        color: rgba(255, 255, 255, .7);
        letter-spacing: 0.5em;
    }

    .navbar-default .navbar-header .navbar-brand:hover,
    .navbar-default .navbar-header .navbar-brand:focus {
        color: #fff;
    }

    .navbar-default .nav > li > a,
    .navbar-default .nav > li > a:focus {
        color: rgba(255, 255, 255, .7);
    }

    .navbar-default .nav > li > a:hover,
    .navbar-default .nav > li > a:focus:hover {

    }

    .navbar-default.affix {
        border-color: #fff;
        background-color: #fff;
        box-shadow: 0px 7px 20px 0px rgba(0, 0, 0, 0.1);
    }

    .navbar-default.affix .navbar-header .navbar-brand {
        letter-spacing: 0;
        color: #202032;
    }

    .navbar-default.affix .navbar-header .navbar-brand:hover,
    .navbar-default.affix .navbar-header .navbar-brand:focus {
        color: #eb3812;
    }

    .navbar-default.affix .nav > li > a,
    .navbar-default.affix .nav > li > a:focus {
        color: #222;
    }

    .navbar-default.affix .nav > li > a:hover,
    .navbar-default.affix .nav > li > a:focus:hover {
        color: #202032;
    }
}

.btn-default {
    border-color: #fff;
    color: white;
    background-color: #202032;
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    transition: all .35s;
}

.btn-default:hover,
.btn-default:focus,
.btn-default.focus,
.btn-default:active,
.btn-default.active,
.open > .dropdown-toggle.btn-default {
    border-color: white;
    color: #fff;
    background-color: #eb3812;
}

.btn-default:active,
.btn-default.active,
.open > .dropdown-toggle.btn-default {
    background-image: none;
}

.btn-default.disabled,
.btn-default[disabled],
fieldset[disabled] .btn-default,
.btn-default.disabled:hover,
.btn-default[disabled]:hover,
fieldset[disabled] .btn-default:hover,
.btn-default.disabled:focus,
.btn-default[disabled]:focus,
fieldset[disabled] .btn-default:focus,
.btn-default.disabled.focus,
.btn-default[disabled].focus,
fieldset[disabled] .btn-default.focus,
.btn-default.disabled:active,
.btn-default[disabled]:active,
fieldset[disabled] .btn-default:active,
.btn-default.disabled.active,
.btn-default[disabled].active,
fieldset[disabled] .btn-default.active {
    border-color: #fff;
    background-color: #fff;
}

.btn-default .badge {
    color: #fff;
    background-color: #222;
}

.btn-primary {
    border-color: #202032;
    color: #fff;
    background-color: #202032;
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    transition: all .35s;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
    border-color: #eb3812;
    color: #fff;
    background-color: #eb3812;
}

.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
    background-image: none;
}

.btn-primary.disabled,
.btn-primary[disabled],
fieldset[disabled] .btn-primary,
.btn-primary.disabled:hover,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary:hover,
.btn-primary.disabled:focus,
.btn-primary[disabled]:focus,
fieldset[disabled] .btn-primary:focus,
.btn-primary.disabled.focus,
.btn-primary[disabled].focus,
fieldset[disabled] .btn-primary.focus,
.btn-primary.disabled:active,
.btn-primary[disabled]:active,
fieldset[disabled] .btn-primary:active,
.btn-primary.disabled.active,
.btn-primary[disabled].active,
fieldset[disabled] .btn-primary.active {
    border-color: #202032;
    background-color: #202032;
}

.btn-primary .badge {
    color: #202032;
    background-color: #fff;
}

.btn {
    border-radius: 300px;
    text-transform: uppercase;
}

.btn-lg {
    padding: 15px 30px;
}

.startQest {
    margin-top: 20px;
}

.startQest .btn-default {
    padding: 10px;
    font-weight: bold;
}

::-moz-selection {
    text-shadow: none;
    color: #fff;
    background: #222;
}

::selection {
    text-shadow: none;
    color: #fff;
    background: #222;
}

img::selection {
    color: #fff;
    background: 0 0;
}

img::-moz-selection {
    color: #fff;
    background: 0 0;
}

.text-primary {
    color: #202032;
}

.bg-primary {
    background-color: #202032;
}

.goToQuestion {
    text-align: center;
}

.title {
    color: #000000;

}

.instruct {
    margin-top: initial;

}

.choice {
    color: black;
    margin-left: 10px;
}

.btn .btn-default > choice:hover {
    color: white;
}

.done {
    margin: initial;
    margin-top: -60px;
}

.submit-test {
    color: white;
    background-color: #202032;
    font-size: 1.2em;
}

.btn_remove {
    margin-top: 10px;
}

.btn_remove_chkB {

    margin-top: 2px;
    float: left;
}

.btn_remove_radio {
    margin-top: 5px;
    folat: left;
}

.txtArea {
    resize: none;
    margin-top: 2px;
}

.big-checkbox {
    margin-top: 2px;
}

.radioTxt {
    margin-left: 2px;
}

.new_quest {
    background-color: #23898B;
    border-color: #23898B;
    margin-top: 10px;
}

.new_quest:hover {
    background-color: #202032;
    border-color: #202032;
}

.rd_btn {
    margin-top: 5px;
    margin-left: -18px;
}

.ck_btn {
    margin-top: 5px;
}

.required-answer {
    color:  #eb3812;
}

.dropdown-menu li > a:hover {
    font-weight: bold;
}

.dropdown-menu .edit > a:hover {
    font-weight: bold;
    color: #009628;
}

.dropdown-menu .trash > a:hover {
    font-weight: bold;
    color: #eb3812;
}

.well {
    margin-top: 65px;
    background-color: #d0d0d0;
    border: none;
    box-shadow: none;
}

.txt-contact {
    resize: none;
}

.btn-info {
    background-color: #5f7385;
    color: white;
    border-color: white;
}

.btn-info:hover {
    background-color: #202032;
    border-color: white;
}

.btn-info.drop.active {
    background-color: #202032;
    border-color: #202032;
}

.drop {
    border-color: #202032;
    background-color: white;
}

.btn-info.drop:hover {
    background-color: white;
}

.drop > a:hover {
    border-color: #202032;
    font-weight: bold;
}

.drop > a, li:hover {
    border-color: #202032;
    color: #202032;
}

.btn-info.active.focus,
.btn-info.active:hover,
.btn-info:active.focus,
.btn-info:active:focus,
.btn-info:active:hover,
.open > .dropdown-toggle.btn-info.focus,
.open > .dropdown-toggle.btn-info:focus,
.open > .dropdown-toggle.btn-info:hover {
    color: #fff;
    background-color: #202032;
    border-color: white;
}

.btn-info.focus, .btn-info:focus {
    color: #fff;
    background-color: #202032;
    border-color: #1b6d85;
}

.btn-info:hover, .btn-info:focus, .btn-info:active, .btn-info.active, .open>.dropdown-toggle.btn-info {
    color: #fff;
    background-color: #202032;
    border-color: #202032;
}

.fieldset {
    margin-top: 50px;
}

.survey-link {
    color: #202032;
}

a:hover, a:focus {
    color: #eb3812;
}

.title-bold{
    font-weight: bold;
}

#go-back {
    float: right;
}

.btn-link {
    color: black;
}
.btn-link:hover{
    color: #eb3812;
    text-decoration: none;
}
.answer {
    margin-left: 20px;
}

.text-uppercase{
    font-weight: bold;
}
.text-danger {
    color: #eb3812;
}
.text-success {
    color: green;
}

.graphics{
    align-items: center;
    justify-content: space-around;
    display: flex;
    float: none;
}
.testForm-chart{
    background-color: white;
}

. waves-effect waves-light{
    color:#eb3812;
}

.answer{
    margin-left: 80px;
    margin-top: 5px;
    margin-bottom: 5px;
    color: rgba(175, 0, 39, 0.77);
}

.answer-title {
    margin-left: 20px;
    margin-top: 5px;
    margin-bottom: 5px;

font-weight: bold;
}

 .textarea{
resize: none;
}

 .info{
     margin-left: 43px;
 }

 .chck{
     margin-left: 10px;
 }

 #right{
     float: right;
     margin-right: 0;
     margin-left: 20px;
 }
element.style {
    padding-left: 2px;
}

