<!-- Text -->
<div class="row">
    <div class=" col-md-12 col-sm-12 col-xs-12">
        <label class="text-uppercase"><?php print $questNumber ?>. <?php print $questionName ?></label>
    </div>
</div>

<!-- Текстови отговори -->
<div class="graphics">
    <table class="table text-center" style="max-width: 700px;">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Отговори</th>
        </tr>
        </thead>
        <tbody>
        <?php print $answers ?>
        </tbody>
    </table>
</div>
<hr>

<!-- END of text -->


